# iPython Notebook - fun with pandas.
 it takes a long time to load - be patient!

In [1]:
a = "hello world - BRUCE"
print(a)
import time

#print("date and time when this Notebook was run on http://localhost:8888/notebooks/ipython_101_notebook-Copy1.ipynb")
print("Date & Time : ",time.strftime("%Y-%m-%d  %H:%M:%S"))

hello world - BRUCE
Date & Time :  2016-08-21  16:57:14

In [2]:
import pandas as pd

In [3]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.shape

(18241, 5)

In [6]:
ufo.index

RangeIndex(start=0, stop=18241, step=1)

In [7]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [8]:
ufo['Location'] = ufo['City'] + ", " + ufo['State']

In [9]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [10]:
type(ufo.Location)

pandas.core.series.Series

In [11]:
#ufo.Location
print( (ufo.head(10)).to_string(columns=['Location'],index=False)) #bugger, this is tricky

Location
              Ithaca, NY
         Willingboro, NJ
             Holyoke, CO
             Abilene, KS
New York Worlds Fair, NY
         Valley City, ND
         Crater Lake, CA
                Alma, MI
             Eklutna, AK
             Hubbard, OR

In [12]:
def A100_initialise_dataframe(): 
 print("BEGIN A100_initialise_dataframe"+"\n") 
 
#Location = r'C:\Users\bruce\OneDrive\Udacity_Intro_to_Data_Analysis\airports.dat'
#AAPL = pd.read_csv(Location,
 global AAPL

 AAPL = pd.read_csv( 
    "https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat",
 header=None,
 sep=',',    
 names = ['Airport_ID', 'Name', 'City', 'Country', 'IATA_FAA', 'ICAO', 'Latitude', 'Longitude', 'Altitude', 'Timezone','DST','Tz database_time_zone'],
 
 )

#1,"Goroka","Goroka","Papua New Guinea","GKA","AYGA",-6.081689,145.391881,5282,10,"U","Pacific/Port_Moresby"
#507,"Heathrow","London","United Kingdom","LHR","EGLL",51.4775,-0.461389,83,0,"E","Europe/London"
#503,"City","London","United Kingdom","LCY","EGLC",51.505278,0.055278,19,0,"E","Europe/London"
 print("type(AAPL) : \n", type(AAPL))
 print("\n")
 print("AAPL.dtypes : \n", AAPL.dtypes)
 print("\n")
 print("AAPL.describe() : \n", AAPL.describe())
 print("\n")
 print("AAPL.info() : \n", AAPL.info())
 print("\n")
 print("AAPL.head() : \n", AAPL.head())
 
 print("\n")
 print("display.max_columns = ", pd.get_option("display.max_columns"))

#print(AAPL.head(10)) 
 print("END A100_initialise_dataframe"+"\n") 
 return 

def A200_Method_I():
# Method 1:
 print("BEGIN A200_Method_I"+"\n")    
 print(AAPL[AAPL['Altitude'] == AAPL['Altitude'].max()])
 print("\n")
 print("END A200_Method_I"+"\n")    
 return



def A300_Method_II():
# Method 2:
 print("BEGIN A300_Method_II"+"\n")    
 print("\n")
 Sorted = AAPL.sort_values(['Altitude'], ascending=False)
 print(Sorted.head(1))
 print("\n")
 print(AAPL['Altitude'].max())
 print("\n")
 print("END A300_Method_II"+"\n")    
 return



def A400_make_dataframes():
 
 global BAPL
 global CAPL
 # Method 2:
 print("BEGIN A400_make_dataframes"+"\n")    
 print("\n")
 #print(AAPL[AAPL['City'] == "Leicester"]) 
 #print(AAPL[AAPL['City'] == "London"])
 BAPL=AAPL[AAPL['City'] == "London"]
 #print("\n")
 #print(BAPL[['City','Country','Latitude','Longitude']])
 #print("\n")

 CAPL=BAPL[BAPL['Country'] == "United Kingdom"]
 #print(CAPL[['Name','City','Country','Latitude','Longitude']])

 CAPL.set_index('Country', inplace=True)
 print(CAPL.head(18))

 print("========================= \n")
 print(
       type( 
            (CAPL.to_csv(columns=['Latitude'], sep=',', index=False)).split()
           )   
      )
 print("========================= \n")
 
 print("========================= \n")
 print(
       type( 
            (CAPL.to_csv(columns=['Longitude'], sep=',', index=False)).split()
           )   
      )
 BW_lat=[51.477500, 51.148056]
 print(type(BW_lat))
   
 print("========================= \n")
 print("\n")

 print("END A400_make_dataframes"+"\n")    
 return


def A000_make_stuff():
# Method 2:
 print("BEGIN A000_make_stuff"+"\n")    
 print("\n")
 
 print("\n")
 print("END A000_make_stuff"+"\n")    
 return



def A500_Render_Gmap():
 #map_options = GMapOptions(lat=30.29, lng=-97.73, map_type="roadmap", zoom=11)
 map_options = GMapOptions(lat=51.148056, lng=-0.190278,map_type="roadmap", zoom=9)
 
 plot = GMapPlot(
     x_range=DataRange1d(), y_range=DataRange1d(), map_options=map_options, title="London"
 )
  
 source = ColumnDataSource(
     data=dict(
        lat=(CAPL.to_csv(columns=['Latitude'], sep=',', index=False)).split(),
        lon=(CAPL.to_csv(columns=['Longitude'], sep=',', index=False)).split(),
#        lat=[51.477500, 51.148056],
#        lon=[-0.461389, -0.190278],

     )
 )
# London Heathrow 
#lat=51.477500
#lon=-0.461389

#London Gatwick
#Lat=51.148056
#Lon=-0.190278
 circle = Circle(x="lon", y="lat", size=10, fill_color="purple", fill_alpha=0.8, line_color=None)
 plot.add_glyph(source, circle)
 
 plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool())
 output_file("gmap_plot.html")
 show(plot)
 print("\n")
 print("END A500_Render_Gmap"+"\n")    
 return


import pandas as pd 
 
from bokeh.plotting import figure 
from bokeh.io import output_file, show
from bokeh.models import (
  GMapPlot, GMapOptions, ColumnDataSource, Circle, DataRange1d, PanTool, WheelZoomTool, BoxSelectTool
)



A100_initialise_dataframe() 

#A200_Method_I()

#A300_Method_II()

A400_make_dataframes()

A500_Render_Gmap()

BEGIN A100_initialise_dataframe

type(AAPL) :
 <class 'pandas.core.frame.DataFrame'>


AAPL.dtypes :
 Airport_ID                 int64
Name                      object
City                      object
Country                   object
IATA_FAA                  object
ICAO                      object
Latitude                 float64
Longitude                float64
Altitude                   int64
Timezone                 float64
DST                       object
Tz database_time_zone     object
dtype: object


AAPL.describe() :
         Airport_ID     Latitude    Longitude      Altitude     Timezone
count  8107.000000  8107.000000  8107.000000   8107.000000  8107.000000
mean   4766.361046    26.817720    -3.921969    933.449365     0.169236
std    2943.205193    27.866953    85.900873   1624.740899     5.737326
min       1.000000   -89.999997  -179.877000  -1266.000000   -12.000000
25%    2091.500000     8.824928   -79.022498     38.000000    -5.000000
50%    4257.000000    34.987800     5.292028    272.000000     1.000000
75%    7508.500000    47.957599    49.785821   1020.000000     4.000000
max    9541.000000    82.517778   179.951000  14472.000000    13.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8107 entries, 0 to 8106
Data columns (total 12 columns):
Airport_ID               8107 non-null int64
Name                     8107 non-null object
City                     8107 non-null object
Country                  8107 non-null object
IATA_FAA                 5880 non-null object
ICAO                     8043 non-null object
Latitude                 8107 non-null float64
Longitude                8107 non-null float64
Altitude                 8107 non-null int64
Timezone                 8107 non-null float64
DST                      8107 non-null object
Tz database_time_zone    8107 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 760.1+ KB
AAPL.info() :
 None


AAPL.head() :
    Airport_ID                        Name          City           Country  \
0           1                      Goroka        Goroka  Papua New Guinea
1           2                      Madang        Madang  Papua New Guinea
2           3                 Mount Hagen   Mount Hagen  Papua New Guinea
3           4                      Nadzab        Nadzab  Papua New Guinea
4           5  Port Moresby Jacksons Intl  Port Moresby  Papua New Guinea

  IATA_FAA  ICAO  Latitude   Longitude  Altitude  Timezone DST  \
0      GKA  AYGA -6.081689  145.391881      5282      10.0   U
1      MAG  AYMD -5.207083  145.788700        20      10.0   U
2      HGU  AYMH -5.826789  144.295861      5388      10.0   U
3      LAE  AYNZ -6.569828  146.726242       239      10.0   U
4      POM  AYPY -9.443383  147.220050       146      10.0   U

  Tz database_time_zone
0  Pacific/Port_Moresby
1  Pacific/Port_Moresby
2  Pacific/Port_Moresby
3  Pacific/Port_Moresby
4  Pacific/Port_Moresby


display.max_columns =  20
END A100_initialise_dataframe

BEGIN A400_make_dataframes



                Airport_ID                           Name    City IATA_FAA  \
Country
United Kingdom         492                          Luton  London      LTN
United Kingdom         502                        Gatwick  London      LGW
United Kingdom         503                           City  London      LCY
United Kingdom         507                       Heathrow  London      LHR
United Kingdom         548                       Stansted  London      STN
United Kingdom        7393  London Euston Railway Station  London      NaN
United Kingdom        7639             Paddington Station  London      QQP
United Kingdom        7667    London Victoria Bus Station  London      NaN
United Kingdom        7696              London St Pancras  London      STP
United Kingdom        7722                London Heliport  London      NaN
United Kingdom        8024     St Pancras Railway Station  London      QQS
United Kingdom        8590                   All Airports  London      LON
United Kingdom        8732           London - Kings Cross  London      QQK
United Kingdom        8912                 Euston Station  London      NaN
United Kingdom        8978               Victoria Station  London      NaN
United Kingdom        9341         Waterloo International  London      NaN
United Kingdom        9356                 Euston Station  London      QQU
United Kingdom        9357         Waterloo International  London      QQW

                ICAO   Latitude  Longitude  Altitude  Timezone DST  \
Country
United Kingdom  EGGW  51.874722  -0.368333       526       0.0   E
United Kingdom  EGKK  51.148056  -0.190278       202       0.0   E
United Kingdom  EGLC  51.505278   0.055278        19       0.0   E
United Kingdom  EGLL  51.477500  -0.461389        83       0.0   E
United Kingdom  EGSS  51.885000   0.235000       348       0.0   E
United Kingdom    \N  51.528400  -0.133100         0       0.0   U
United Kingdom    \N  51.515833  -0.176111         0       0.0   E
United Kingdom    \N  51.494999  -0.144643         0       0.0   E
United Kingdom    \N  51.530000  -0.125000         0       0.0   E
United Kingdom  EGLW  51.470000  -0.177833        18       0.0   E
United Kingdom    \N  51.532519  -0.126300        80       0.0   E
United Kingdom    \N  51.508056  -0.127778        66       0.0   E
United Kingdom    \N  51.532600   0.123300        72       0.0   E
United Kingdom    \N  51.528400  -0.133100        89       0.0   E
United Kingdom    \N  51.496400  -0.143910        48       0.0   E
United Kingdom    \N  51.503100  -0.114700        10       0.0   E
United Kingdom    \N  51.528400  -0.133100        89       0.0   E
United Kingdom    \N  51.503100  -0.114700        10       0.0   E

               Tz database_time_zone
Country
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
United Kingdom         Europe/London
=========================

<class 'list'>
=========================

=========================

<class 'list'>
<class 'list'>
=========================



END A400_make_dataframes



END A500_Render_Gmap

In [13]:
CAPL.index

Index(['United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom'],
      dtype='object', name='Country')

In [14]:
CAPL.shape

(18, 11)

In [15]:
CAPL.head()

,Airport_ID,Name,City,IATA_FAA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database_time_zone
Country,,,,,,,,,,,
United Kingdom,492,Luton,London,LTN,EGGW,51.874722,-0.368333,526,0.0,E,Europe/London
United Kingdom,502,Gatwick,London,LGW,EGKK,51.148056,-0.190278,202,0.0,E,Europe/London
United Kingdom,503,City,London,LCY,EGLC,51.505278,0.055278,19,0.0,E,Europe/London
United Kingdom,507,Heathrow,London,LHR,EGLL,51.477500,-0.461389,83,0.0,E,Europe/London
United Kingdom,548,Stansted,London,STN,EGSS,51.885000,0.235000,348,0.0,E,Europe/London

In [16]:
CAPL.set_index('Name', inplace=True)

In [17]:
CAPL.index

Index(['Luton', 'Gatwick', 'City', 'Heathrow', 'Stansted',
       'London Euston Railway Station', 'Paddington Station',
       'London Victoria Bus Station', 'London St Pancras', 'London Heliport',
       'St Pancras Railway Station', 'All Airports', 'London - Kings Cross',
       'Euston Station', 'Victoria Station', 'Waterloo International',
       'Euston Station', 'Waterloo International'],
      dtype='object', name='Name')

In [18]:
CAPL.columns

Index(['Airport_ID', 'City', 'IATA_FAA', 'ICAO', 'Latitude', 'Longitude',
       'Altitude', 'Timezone', 'DST', 'Tz database_time_zone'],
      dtype='object')

In [19]:
CAPL.head(100)

,Airport_ID,City,IATA_FAA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database_time_zone
Name,,,,,,,,,,
Luton,492,London,LTN,EGGW,51.874722,-0.368333,526,0.0,E,Europe/London
Gatwick,502,London,LGW,EGKK,51.148056,-0.190278,202,0.0,E,Europe/London
City,503,London,LCY,EGLC,51.505278,0.055278,19,0.0,E,Europe/London
Heathrow,507,London,LHR,EGLL,51.477500,-0.461389,83,0.0,E,Europe/London
Stansted,548,London,STN,EGSS,51.885000,0.235000,348,0.0,E,Europe/London
London Euston Railway Station,7393,London,NaN,\N,51.528400,-0.133100,0,0.0,U,Europe/London
Paddington Station,7639,London,QQP,\N,51.515833,-0.176111,0,0.0,E,Europe/London
London Victoria Bus Station,7667,London,NaN,\N,51.494999,-0.144643,0,0.0,E,Europe/London
London St Pancras,7696,London,STP,\N,51.530000,-0.125000,0,0.0,E,Europe/London
London Heliport,7722,London,NaN,EGLW,51.470000,-0.177833,18,0.0,E,Europe/London
St Pancras Railway Station,8024,London,QQS,\N,51.532519,-0.126300,80,0.0,E,Europe/London
All Airports,8590,London,LON,\N,51.508056,-0.127778,66,0.0,E,Europe/London
London - Kings Cross,8732,London,QQK,\N,51.532600,0.123300,72,0.0,E,Europe/London
Euston Station,8912,London,NaN,\N,51.528400,-0.133100,89,0.0,E,Europe/London
Victoria Station,8978,London,NaN,\N,51.496400,-0.143910,48,0.0,E,Europe/London
Waterloo International,9341,London,NaN,\N,51.503100,-0.114700,10,0.0,E,Europe/London
Euston Station,9356,London,QQU,\N,51.528400,-0.133100,89,0.0,E,Europe/London
Waterloo International,9357,London,QQW,\N,51.503100,-0.114700,10,0.0,E,Europe/London

In [20]:
CAPL.loc['All Airports', 'Latitude']

51.508055999999996

In [21]:
import pandas as pd

In [22]:
orders=pd.read_table('http://bit.ly/chiporders')

In [23]:
orders.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [24]:
orders.shape

(4622, 5)